* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: rgb(194, 183, 183);
}
.button_1 {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgb(33 162 163);
  background-color: rgb(255, 255, 255);
  color: rgb(33 162 163);
}
.button_1:hover {
  color: white;
  background-color: rgb(33 162 163);
  cursor: pointer;
}
.button_2 {
  background-color: rgb(33 162 163);
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 2px;
  border: none;
}
.button_3 {
  width: 180px;
  color: white;
  background-color: blue;
  height: 35px;
  border: 2px solid black;
  box-shadow: 5px 1px 0px rgb(0, 0, 0);
}
