* {
  margin-left: 20px;
  font-family: sans-serif;
}
.button1 {
  display: block;
  color: #2ba6a7;
  background-color: #f5f5f5;
  border-color: #2ba6a7;
  border-style: solid;
  width: 145px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.button2 {
  display: block;
  color: #ffffff;
  background-color: #00d1b2;
  border-color: #00d1b2;
  border-style: solid;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}
.button3 {
  display: block;
  background-color: #2b78e4;
  color: #d9e7fa;
  font-size: 18px;
  box-shadow: 3px 3px 0px #000;
  text-align: center;
  width: 170px;
  height: 35px;
}
