body {
  font-family: cursive;
  color: #000000;
  margin: 0px auto;
  font-size: 15px;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

.icon-img {
  width: 22px;
  height: 22px;
}

.svg-icon {
  width: 22px;
  height: 22px;
  fill: #ff0000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #0a66c2;
}
