h1 {
  background-color: black;
}

h1 #span1 {
  font-style: inherit;
  text-decoration: wavy;
  color: white;
}
h1 #span2 {
  font-style: inherit;
  text-decoration: wavy;
  color: lightblue;
}

h2 {
  font-style: inherit;
  text-decoration: wavy;
  background-color: blueviolet;
  text-align: center;
}

h3 {
  font-style: inherit;
  text-decoration: wavy;
  background-color: lightblue;
  text-align: right;
}
